.navbar-item-content {
  display: flex;
  align-items: center;
}

.navbar-item-svg {
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-item-link {
  text-decoration: none;
}

.navbar-item-open {
  color:#131514;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
}