.navbar-item-content {
  display: flex;
  align-items: center;
}

.navbar-item-svg {
  margin-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-item-link {
  text-decoration: none;
}

.navbar-item-open {
  color:#131514;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.navbar-item-content-footer {
  display: flex;
}

.navbar-item-footer {
  list-style: none;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.navbar-item-footer-pc {
  position: relative;
}

.navbar-item-link-footer {
  color: #fff;
  text-decoration: none;
}

.navbar-item-li--footer {
  position: relative;
}