.button {
  display: flex;
}

.btn {
  height: 48px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.vector-left {
  color: green;
}

.leftSvg,
.rightSvg {
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 8px;
}