.container-block {
  position: relative;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 100%;
  }
}

.discover-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 157px;
  margin-left: calc((100% - 1440px) / 2 + 106px);
}

.main-block-images {
  position: relative;
}

.trade-mobile {
  position: absolute;
  top: 62%;
  left: -5%;
  z-index: -1;
}

.trade-pc {
  position: relative;
  z-index: -2;
  right: 0;
}

.main-title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.main-title {
  align-self: stretch;

  color: #131514;

  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.44px;
}

.main-title-second {
  color: #277F4D;

  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1.44px;
}

.main-subtitle {
  width: 500px;
  color:#404040;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.main-investing-block {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.main-users-block {
  display: flex;
  flex-direction: column;
}

.main-users {
  display: flex;
  gap: 32px;
}

.main-users-text {
  align-self: stretch;

  color: #131514;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.main-users-subtext {
  color:#616161;

  font-size: 16px;
  letter-spacing: 0.32px;
}

.user2 {
  margin: 0 -16px;
}

.user4 {
  margin: 0 -16px;
}

.main-launching {
  margin-top: 156px;
  background-image: url('../../assets/clockBG.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 602px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 88px;
}

.timer-section {
  border-radius: 3px;
  border-right: 1px solid #616161;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
}

.timer-section:last-child {
  border-right: none;
}

.timer-section-number {
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.6px;
  width: 140px;
  text-align: center;
}

.timer-section-text {
  color:#7F7F7F;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.timer-section p {
  margin: 0;
}

.main-launching-text {
  padding-top: 107px;
  color:#F3F3F3;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.main-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-products-text {
  margin-top: 106px;
  margin-bottom: 80px;
  color: #131514;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.products {
  display: flex;
  align-items: flex-end;
  gap: 88px;
  margin-bottom: 88px;
}

.product-item {
  display: flex;
  align-items: center;
  width: 385px;
}

.main-join-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 106px;
  background: url('../../assets/join-bg.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 475px;
}

.main-join-title {
  padding-top: 106px;
  color:#F9F9F9;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.main-join-subtitle {
  margin-top: 32px;
  color:#D6ECDF;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.main-join-buttons {
  margin-top: 88px;
  display: flex;
  gap: 16px;
}

.circleVectorRight {
  position: absolute;
  right: 0;
}

.trade-pc-for-pc {
  display: none;
}

.trade-pc-for-pc {
  display: none;
}

.trade-mobile-for-mobile {
  display: none;
}

@media (max-width: 1265px) {
  .main-block {
    position: relative;
    width: 100%;
    margin: 0;
    flex-direction: column;
    padding: 0 20px;
    align-items: baseline;
    padding-bottom: 64px;
  }

  .main-investing-block {
    flex-direction: column;
    gap: 32px;
  }

  .main-title {
    font-size: 37px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.74px;
  }

  .main-title-second {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  .main-subtitle {
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.32px;
  }

  .main-title-subtitle {
    gap: 24px;
  }

  .trade-mobile {
    display: none;
  }

  .trade-pc {
    display: none;
  }

  .main-block-images {
    width: 100%;
    margin-top: 249px;
  }

  .trade-pc-for-pc {
    display: block;
    position: absolute;
    bottom: -60px;
    right: -20px;
  }

  .trade-mobile-for-mobile {
    position: absolute;
    display: block;
    z-index: 1;

    bottom: -80px;
    right: 220px;
  }

  .main-investing-block {
    padding-top: 32px;
  }

  .main-launching {
    background-position: center;
    height: 100%;
    padding: 64px 0;
    margin-top: 64px;
  }

  .timer-container {
    flex-direction: column;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 45px;
    gap: 8px;
  }

  .main-launching-text {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.56px;
    padding: 0;
  }

  .timer-section-number {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 1.12px;
  }

  .timer-section-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.32px;
  }

  .timer-section {
    border: none;
    gap: 8px;
  }

  .products {
    padding-top: 32px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .product-item {
    width: 100%;
  }

  .main-products {
    padding: 64px 20px;
  }

  .main-products-text {
    margin: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.56px;
  }

  .main-join-block {
    padding: 64px 20px;
    margin: 0;
    height: auto;
  }

  .main-join-title {
    padding: 0;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.56px;
  }

  .main-join-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.32px;
  }

  .main-join-buttons {
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    padding-top: 32px;
  }

  .button-link {
    width: 100%;
  }
}