@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.crypto-block {
  height: auto;
  background-color: #131514;
  background-image: url('../../assets/crypto-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 106px 120px;
  display: flex;
  flex-direction: column;
}

.crypto-title {
  color: #FFF;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.crypto-coins {
  padding-top: 40px;
}

.crypto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-name {
  padding-top: 24px;
  color: #F9F9F9;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.crypto-price {
  padding-top: 12px;
  color:#F9F9F9;

  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}

.crypto-coins-first-row {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.crypto-coins-second-row {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.crypto-btn {
  padding-top: 80px;
  margin: 0 auto;
}

.explore-block {
  padding: 106px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.explore-title {
  color: #1D1D1D;
  text-align: center;
  
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.explore-card {
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  background:#F9F9F9;
  display: flex;
  height: 187px;
  width: 619px;
  padding: 40px;
}

.explore-card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.explore-card-title {
  color: #1D1D1D;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.explore-card-subtitle {
  color: rgba(29, 29, 29, 0.60);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.explore-card-imgs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.explore-products-first-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.explore-products {
  gap: 40px;
  width: fit-content;
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.explore-products-second-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.safe-block {
  padding: 106px 120px;
}

.safe-title {
  color: #1D1D1D;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.safe-cards {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  gap: 45px;
}

.safe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.safe-card-title {
  padding-top: 24px;
  color: #1D1D1D;
  text-align: center;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.48px;
}

.safe-card-subtitle {
  padding-top: 12px;
  color: rgba(29, 29, 29, 0.60);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.faq-block {
  padding: 106px 120px;
}

.faq-title {
  color: #1D1D1D;
  text-align: center;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.start-block {
  padding: 52px 0;
  background: url('../../assets/start-bg.PNG');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-title {
  padding-bottom: 32px;
  color: #F9F9F9;
  text-align: center;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.8px;
}

.contact-block {
  display: flex;
  justify-content: space-between;
  padding: 106px 120px;
  background: url('../../assets/contact-bg.png');
  background-repeat: no-repeat;
}

.contact-title {
  width: 100%;
  color:#0A2013;

  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1.12px;
}

.contact-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 24px 54px 48px 54px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background:#131514;
  gap: 24px;
}

.signIn-input-item-textarea {
  resize: none;
}

.safe-card-box {
  display: flex;
  gap: 45px;
}

@media (max-width: 1545px) {
  .explore-card {
    width: auto;
    height: 140px;
    padding: 20px;
  }

  .contact-title {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .safe-cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1170px) {
  .contact-title {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .crypto-coins {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .crypto-coins-first-row {
    flex-direction: column;
    gap: 32px;
  }

  .crypto-coins-second-row {
    padding-top: 0;
    flex-direction: column;
    gap: 32px;
  }

  .crypto {
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
  }

  .crypto-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .crypto-price {
    text-align: start;
  }

  .crypto-block {
    padding: 64px 20px;
  }

  .crypto-title {
    font-size: 28px;
    letter-spacing: 0.56px;
  }

  .safe-block {
    padding: 64px 20px;
  }

  .safe-title {
    font-size: 28px;
    letter-spacing: 0.56px;
  }

  .faq-block {
    padding: 64px 20px;
  }

  .faq-title {
    font-size: 28px;
    letter-spacing: 0.56px;
  }

  .contact-block {
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 64px 20px;
  }

  .contact-container {
    margin-top: 32px;
    width: 100%;
  }

  .contact-title {
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.56px;
  }

  /* .explore-card-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
  } */
}

@media (max-width: 1109px) {
  .explore-block {
    padding: 64px 20px;
  }

  .explore-title {
    font-size: 28px;
    letter-spacing: 0.56px;
  }

  .explore-products {
    padding-top: 16px;
    flex-direction: column;
    gap: 16px;
  }

  .explore-products-first-col {
    gap: 16px;
  }

  .explore-products-second-col {
    gap: 16px;
  }

  .explore-card {
    height: auto;
  }
}

@media (max-width: 700px) {
  .safe-cards {
    padding-top: 32px;
  }

  .safe-card {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }

  .safe-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 24px;
  }

  .safe-card-title {
    text-align: start;
    padding: 0;
  }

  .safe-card-subtitle {
    text-align: start;
  }

  .safe-card-img {
    width: 48px;
    height: 48px;
    margin-top: 24px;
  }

  .safe-card-box {
    flex-direction: column;
    width: 100%;
  }
}