.header {
  margin: 0 auto;
  display: flex;
  width: 1440px;
  padding: 32px 106px;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  z-index: 10000;
}

@media (max-width: 1457px) {
  .header {
    width: auto;
  }
}

.header-buttons {
  display: flex;
  gap: 16px;
}

.header-button-link {
  text-decoration: none;
}