.header {
  margin: 0 auto;
  display: flex;
  width: 1440px;
  padding: 32px 106px;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}

.header-buttons {
  display: flex;
  gap: 16px;
}

.header-button-link {
  text-decoration: none;
}