@font-face {
  font-family: Maison;
  src: url('./fonts/MaisonNeueBook.otf');
}

@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Maison;
}

body {
  height: 100vh;
}

.container {
  padding: 106px 120px;
}