.faq-accordion {
  padding: 24px;
  border-radius: 16px;
  background:#F9F9F9;
  border: none;
}

.faq-accordion-button {
  border: none;
  background:#F9F9F9;
  cursor: pointer;
}

.faq-accordion-title {
  color:#0A2013;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.4px;
}

.faq-accordion-subtitle {
  color:#404040;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.32px;
}

.faq-accordion-subtitle {
  border-top: 1px solid #E8E8E8;
}

.accordion-title--open {
  padding-bottom: 24px;
}

.accordion--open {
  padding-top: 24px;
}

@media (max-width: 1265px) {
  .faq-accordion-title {
    text-align: start;
  }

  .accordion-title--open {
    padding-bottom: 12px;
  }
  
  .accordion--open {
    padding-top: 12px;
  }
}